.jumbotron {
    padding: 0 2rem 4rem 2rem;
}

body {
    background-color: #dcdcdc;
}

.sub-menu-dark-toggle .sub-menu-content {
    display: block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #FFFFFF;
    height: 50px;
}

.sub-menu-dark-toggle,
#stickyNavBar .far,
#stickyNavBar .fas {
    color: #cacaca;
}

#stickyNavBar .far,
#stickyNavBar .fas {
    font-size: 22px;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

.affix {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.subnav-toggle.affix+.jumbotron {
    margin-top: 58px;
}

.navbar-description {
    min-height: 48px;
}

.navbar {
    min-height: 56px;
}

.affix .btn-secondary {
    background-color: #ffffff;
}

[class^="header-icon"] {
    background-size: contain!important;
    background-repeat: no-repeat!important;
    width: 12px;
    height: 16px;
}

.header-icon-download {
    background: url('../../assets/icons/ic_download_white.png');
}

.header-icon-pdf {
    background: url('../../assets/icons/ic_pdf_white.png');
}

.header-icon-print {
    background: url('../../assets/icons/ic_print_white.png');
}

.header-icon-save {
    background: url('../../assets/icons/ic_save_white.png');
}

.affix .header-icon-download {
    background: url('../../assets/icons/ic_download_red.png');
}

.affix .header-icon-pdf {
    background: url('../../assets/icons/ic_pdf_red.png');
}

.affix .header-icon-print {
    background: url('../../assets/icons/ic_print_red.png');
}

.affix .header-icon-save {
    background: url('../../assets/icons/ic_save_red.png');
}

@media (min-width: 992px) {
	.navbar-expand-lg .d-lg-none#navbarToggleCollapse {
		display: none!important;
	}
}

@media (min-width: 768px) {
    .container {
        max-width: none;
    }
}